/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./assets/fonts/roboto-v30-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/roboto-v30-latin-regular.eot') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-regular.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-500 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./assets/fonts/roboto-v30-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/roboto-v30-latin-500.eot') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-500.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-500.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-700 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url('./assets/fonts/roboto-v30-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/roboto-v30-latin-700.eot') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-700.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-700.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

/* roboto-900 - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url('./assets/fonts/roboto-v30-latin-900.eot'); /* IE9 Compat Modes */
    src: local(''),
    url('./assets/fonts/roboto-v30-latin-900.eot') format('embedded-opentype'), /* IE6-IE8 */ url('./assets/fonts/roboto-v30-latin-900.woff2') format('woff2'), /* Super Modern Browsers */ url('./assets/fonts/roboto-v30-latin-900.woff') format('woff'), /* Modern Browsers */ url('./assets/fonts/roboto-v30-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */ url('./assets/fonts/roboto-v30-latin-900.svg#Roboto') format('svg'); /* Legacy iOS */
}


:root {
    --main-bg-color: #191934;
    --main-content-color: #FFFFFF;
}

html {
    height: 100%;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

html, body {
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

main {
    flex: 1 0 auto;
}

footer {
    flex-shrink: 0;
}

#components-layout-demo-fixed-sider .logo {
    height: 32px;
    margin: 16px;
    background: rgba(255, 255, 255, 0.2);
}

.site-layout .site-layout-background {
    background: #fff;
}

.image {
    display: flex;
    justify-content: center;
}
